#header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0;
}

.logo {
  margin: 1rem;
}

.navbar-buttons {
  border: none;
  box-shadow: none;
  color: inherit;
  background: none;
  margin: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 600;
}

.orange-background {
  background: hsl(12, 88%, 59%);
  border-radius: 2rem;
  color: white;
}

.button-shadow {
  box-shadow: 0 5px 10px 2px #fcc2b7;
}

.white-background {
  background: white;
  border-radius: 2rem;
  color: hsl(12, 88%, 59%);
}

.custom-button {
  padding: 0.5rem 1.2rem;
  max-width: fit-content;
}

.custom-button:hover {
  margin: 0;
  width: fit-content;
  opacity: 0.8;
  scale: 1.1;
}

#main-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.illustration {
  width: 25rem;
}

.main-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;
  align-items: start;
  padding: 2rem 0;
}

.section-left {
  height: 100%;
  width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 1.5rem;
}

.section-right {
  width: 40%;
}

.space-below {
  margin-bottom: 1rem;
}

.main-p {
  max-width: 20rem;
}

#list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-li {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.li-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  margin-top: 0.4rem;
}

#main-section-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 10rem;
}

#main-section-bottom-header {
  margin-bottom: 2rem;
}

#team-container {
  display: flex;
  gap: 3rem;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  margin-top: 2rem;
}

.avatar {
  position: absolute;
  top: -1rem;
  width: 4rem;
}

.team-card-text-container {
  height: 14rem;
  background: hsla(228, 39%, 23%, 0.115);
  padding: 1rem 1.5rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.4rem;
}

.carousel-items {
  display: flex;
  width: 100%;
}

#footer-top {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 8rem;
  background-color: #f3603c;
  background-image: url("/background/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
}

#top-footer-heading {
  max-width: 20rem;
}

#footer-bottom {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 8rem;
  gap: 1rem;
  background: #1e1f28;
  height: 15rem;
  padding-bottom: 1rem;
}

#footer-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#footer-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  margin-bottom: 1.5rem;
}

.icon:hover {
  margin-bottom: 1.5rem;
  fill: hsl(12, 88%, 59%);
}

#footer-navigation {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.footer-navigation-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#footer-input {
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  margin-right: 1rem;
  background: white;
  color: hsl(12, 88%, 59%);
}

#footer-input::placeholder {
  color: hsl(12, 88%, 59%);
  opacity: 1;
}

#footer-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

#footer-form {
  height: 100%;
}
