@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro");

:root {
  font-family: "Be Vietnam Pro";
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(228, 39%, 23%);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 1440px;

  background-image: url("/background/bg-tablet-pattern.svg"),
    url("/background/bg-simplify-section-mobile-updated.svg");
  background-position: top right, left;
  background-repeat: no-repeat, no-repeat;
  background-size: 40rem, 10rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2rem;
}

p {
  color: hsl(228, 16%, 64%);
}

button {
  border: none;
  box-shadow: none;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 600;
}

button:hover {
  opacity: 0.4;
  scale: 1.1;
}

a {
  cursor: pointer;
}

a:hover {
  color: hsl(12, 88%, 59%) !important;
}
